<!doctype html>
<html class="no-js" lang="el">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% if page.title == "Home" %}
    <title>Βιργίλιος Στάρκγουελ - μικρές ιστορίες</title>
    <meta property="og:title" content="Βιργίλιος Στάρκγουελ - μικρές ιστορίες" />
    <meta property="og:type" content="website" />
    {% else %}
    <title>{{ page.title }} - Βιργίλιος Στάρκγουελ</title>
    <meta property="og:title" content="{{ page.title }} - Βιργίλιος Στάρκγουελ" />
    <meta property="og:type" content="article" />
    {% endif %}

    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    {% else %}
    <meta name="description" content="{{ page.content | truncatewords:47 | strip_html }}" />
    <meta property="og:description" content="{{ page.content | truncatewords:47 | strip_html }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- insert favicons. use http://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.baseurl }}/assets/img/favicons/manifest.json">
    <link rel="mask-icon" href="{{ site.baseurl }}/assets/img/favicons/safari-pinned-tab.svg" color="#555555">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicons/favicon.ico">
    <meta name="msapplication-config" content="{{ site.baseurl }}/assets/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:locale" content="en_GB" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="" />
    <meta name="twitter:creator" content="" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />

    <meta property="og:site_name" content="Βιργίλιος Στάρκγουελ - μικρές ιστορίες" />

    {% if page.image %}
    <meta property="og:image" content="{{ page.image }}" />
    {% else %}
    <meta property="og:image" content="{{ site.baseurl }}/assets/img/logo.png" />
    {% endif %}

    <link href="{{ site.baseurl }}/assets/css/app.css?{{site.time | date: '%s%N'}}" rel="stylesheet">

    <!--script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', '', 'auto');
    ga('send', 'pageview');
    </script-->
</head>
